*{
	background-color:#121212;
}

.container{
	display:flex;
	width:16ch;
	height:16ch;
}

.size-select{
	border-style:solid;
	border-color:#0000ff;
	border-width:2px;
	border-radius:5px;
	background-color:white;
	color:#121212;
	border:20px;
	position:absolute; 
	bottom:0;
}

.box{
	background-color:#ffffff;
}
